<%= count_votes(comment) %> -
<%= comment.content %> -
<%= link_to "reply", comment_path(comment) %> -
<%= link_to 'Upvote!', comment_votes_path(comment, :value => 1), :method => :post %> ||
<%= link_to 'Downvote!', comment_votes_path(comment, :value => -1), :method => :post %> ||
<% if comment.user == current_user %>
  <%= link_to 'Delete!', comment_path(comment), :method => :delete %>
<% end %>
</br>

<% if comment.comments.any? %>
  <ul>
    <% comment.comments.each do |child_comment| %>
      <li><%= render 'shared/comment_recursion', :comment => child_comment %></li>
    <% end %>
  </ul>
<% end %>