<%= form_for(@link) do |f| %>
  <%= f.text_field :title, :placeholder => "Enter title..." %><br>
  <%= f.text_field :url, :placeholder => "Enter link..." %><br>

  <% if current_user && current_user.admin %>
    <div class='radio-button'><%= f.label :flagged_true %> <%= f.radio_button :flagged, true %></div>
    <div class='radio-button'><%= f.label :flagged_false %> <%= f.radio_button :flagged, false %></div>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>