<h1>HN Clone</h1>

<ul>
  <% if current_user && current_user.admin %>
    <% @links.each do |link| %>
      <li>
      <%= count_votes(link) %> -
      <%= link.user.email unless link.user.nil? %> -
      <%= link_to "#{link.title} (#{link.url})", "#{link.url}" %> -
      Posted <%= time_ago_in_words(link.created_at) %> ago -
      <%= link_to "#{link.comments.length} #{"comment".pluralize(link.comments.length)}", link_path(link) %> ||
      <%= link_to 'Upvote!', link_votes_path(link, :value => 1), :method => :post %> ||
      <%= link_to 'Downvote!', link_votes_path(link, :value => -1), :method => :post %> ||
      <%= link_to 'Edit', edit_link_path(link) %> ||
      <%= link_to 'Delete', link_path(link), :method => :delete %>
      </li>
    <% end %>
  <% else %>
    <% @links.each do |link| %>
      <% unless link.flagged %>
        <li>
        <%= count_votes(link) %> -
        <%= link.user.email unless link.user.nil? %> -
        <%= link_to "#{link.title} (#{link.url})", "#{link.url}" %> -
        Posted <%= time_ago_in_words(link.created_at) %> ago -
        <%= link_to "#{link.comments.length} #{"comment".pluralize(link.comments.length)}", link_path(link) %> ||
        <%= link_to 'Upvote!', link_votes_path(link, :value => 1), :method => :post %> ||
        <%= link_to 'Downvote!', link_votes_path(link, :value => -1), :method => :post %>
        <% if link.user == current_user %>
          || <%= link_to 'Delete', link_path(link), :method => :delete %>
        <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>