<h1>HN Clone</h1>

<ul>
  <% @links.each do |link| %>
  <li>
  <%= link.votes.count %> -
  <%= link.user.email unless link.user.nil? %> -
  <%= link_to "#{link.url}", link_path(link) %> -
  Posted <%= time_ago_in_words(link.created_at) %> ago -
  <%= link_to "Upvote!",  votes_path(:link_id => link.id), :method => :post %>
  </li>
  <% end %>
</ul>