<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>

  <div class="container">
    <div class="row">
      <div class="span9">
         <div class="flash"><div class="flashError"></div><div class="flashSuccess"></div></div>
         <%= render 'shared/error_messages' %>
         <%= yield %>
      </div>
      <div class="span3">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong><br>
          <%= link_to 'Edit profile', edit_user_registration_path %><br>
          Karma Score: <%= current_user.karma %><br>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %> or
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
